*{
    margin: 0;
    padding: 0;
}
body {
    background: #a9a9a9;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}
.container {
	width: 80%;
	margin: 50px auto;
}
.container h1{
    align-items: center;
}
.contact-box {
	background: #5f5f79;
	display: flex;
}
.contact-left{
	flex-basis: 60%;
	padding: 40px 60px;
}
h1{
    margin-bottom: 10px;
}
.input-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
input {
    color: black;
}
.input-row .input-group{
    flex-basis: 45%;
}
::placeholder {
    color: #a9a9a9;
}
input {
    width: 100%;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    padding-bottom: 5px;
    background: transparent;
}
textarea {
    width: 100%;
    border: 1px solid black;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
    background: transparent;
}
label {
    margin-bottom: 6px;
    display: block;
    color: black;
    font-weight: 300;
}
button {
    background: transparent;
    border: 1px solid black;
    width: 100px;
    outline: none;
    height: 35px;
    border-radius: 30px;
    margin-top: 20px;
    box-shadow: 0px 5px 15px 0px black;
}
.contact-left h3{
    color: black;
    font-weight: 600;
    margin-bottom: 30px;
}